html {
    background-color: whitesmoke;
}

h1 {
    font-family: 'Libre Baskerville', serif;
}


h2, h3 {
    color: rgb(106, 94, 94);
}


.info-col {
    color: white;
    padding: 5px;
    display: inline-flex;
    align-items: center;
}

.info-row {
    background-color: rgb(106, 94, 94);
    width: 100%;
}

.material-symbols-outlined {
    padding-right: 5px;
}

.email {
    width: 30%;
}

.phone {
    width: 18%;
}

.location {
    width: 18%;
}

.linkedin {
    width: 30%;
}

.left-section {
    margin: 5px;
    width: 40%;
    display: inline-block;
    
    border: 2px solid black;
    float: left;
}

.right-section {
    margin: 5px;
    width: 40%;
    display: inline-block;
    border: 2px solid black;
    float: right;
}

.left-date {
    float: left;
}

.right-location {
    float: right;
    padding-right: 5px;
}

li {
    margin: 4px;
}
